h1,
h2,
table {
  text-align: center;
}

input,
select,
textarea,
submit,
email,
label {
  appearance: none;
  border: none;
  display: block;
}
fieldset {
  display: block;
  text-align: left;
  border-radius: 5px;
  width: 1024px;
  margin: 0 auto;
}

.contact_form {
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

input,
select,
textarea,
.message {
  border: none;
  border-radius: 3px;
  background-color: #f7f3f3;
  width: 95%;
  outline: none;
  text-align: left;
}
input[type="text"]:focus,
select:focus,
input[type="submit"]:focus #message:focus,
input[type="email"]:focus {
  border: 2px rgb(70, 70, 224);
}
input[type="submit"] {
  background-color: #0048d8;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 10px #b4afaf;
  cursor: pointer;
  width: 95px;
  height: 34px;
  padding: 10px;

  font-family: "Roboto", sans-serif;
  color: antiquewhite;
  font-size: large;
  text-align: center;
  margin: 0 auto;
}
input[type="submit"]:hover {
  background-color: #002266;
}
#message:hover {
  border: 1px solid #0048d8;
  transition: all 0.3s ease 0s;
}

input[type="submit"]:disabled {
  background-color: #8cacee;
}
input[type="submit"]:focus {
  background-color: white;
  border: 1px solid #0048d8;
  transition: all 0.3s ease 0s;
}

input[type="text"],
input[type="email"],
select,
textarea {
  border: 2px solid #f7f3f3;
  font-size: 16px;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  max-width: 1024px;
}
.req {
  color: red;
}
.error {
  display: none;
  color: red;
}
input[type="email"]:required:valid {
  border-color: green;
}
input[type="email"]:required:hover {
  border-color: #0048d8;
}
input[type="email"]:invalid {
  display: block;
  border-color: red;
}

select:hover {
  border-color: #0048d8;
}

select {
  min-width: 1rem;
  background: url("images/check.svg") no-repeat center right 0.1rem;
}
footer {
  background-color: #0048d8;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 10px #b4afaf;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  padding-top: 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-decoration: antiquewhite;
  font-size: large;
  text-align: center;
}
