.wrapper {
  display: grid;
  grid-template-columns: 385px 815px;
  gap: 50px;
  margin: 20px;
  font-family: Inter;
  line-height: 16px;
  size: 32px;
}
.contacts {
  background-color: #86a3b4;
}

.information {
  font-family: Inter;
  color: #000000;
}
.minor {
  margin: 40px;
  text-align: left;
  width: 334px;
}
.skills {
  width: 659px;
  height: 184px;
}
img {
  width: 382px;
  height: 297px;
}
hr {
  width: 85%;
  margin-left: 0%;
  border: solid 3px #1e1e1e;
}
p {
  font-size: 16px;
}
h1 {
  font-size: 36px;
}
.name {
  margin: 40px;
}
