h1,
h2,
h3,
table,
ul,
ol {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-style: italic;
}
h3 {
  font-weight: bold;
}
th {
  text-transform: uppercase;
}
a {
  color: #00f;
  text-decoration: underline;
}
a:visited {
  color: #005;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: square;
}
.lines {
  border-bottom: 1px solid darkmagenta;
  margin-bottom: 10px;
}
.picture {
  border-style: solid;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-width: 2px;
  border-color: darkmagenta;
  float: right;
}
.wrapper {
  display: flex;
  width: 100%;
}
.wrapper th {
  background-color: pink;
}
.wrapper td {
  background-color: whitesmoke;
}
.section1 {
  display: block;
  justify-content: flex-start;
}

.section2 {
  clear: both;
}
